In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
test = pd.read_excel('/home/ekim_reverse/PyCode/study/data_pre_01.xlsx')

In [ ]:
print(test)

In [3]:
test_01 = test.rename(columns=test.iloc[0])

In [ ]:
test_01

In [4]:
test_02 = test_01.drop(test_01.index[0])

In [ ]:
test_02

In [5]:
dayList = test_02.loc[:,"day1":"day7"]
ageList = test_02.loc[:,"age1":"age7"]
gluList = test_02.loc[:,"GLU0_1":"GLU0_7"]
astList = test_02.loc[:,"AST_1":"AST_7"]
altList = test_02.loc[:,"ALT_1":"ALT_7"]
tchlList = test_02.loc[:,"TCHL_1":"TCHL_7"]
tgList = test_02.loc[:,"TG_1":"TG_7"]
bmiList = test_02.loc[:,"BMI_1":"BMI_7"]
bmigrList = test_02.loc[:,"BMI_GR_1":"BMI_GR_7"]
waistList = test_02.loc[:,"WAIST_1":"WAIST_7"]
hsiList = test_02.loc[:,"HSI_1":"HSI_7"]
fib4List = test_02.loc[:,"FIB4_1":"FIB4_7"]
homaList = test_02.loc[:,"HOMA_1":"HOMA_7"]
hba1cList = test_02.loc[:,"HBA1C_1":"HBA1C_7"]
endList = pd.DataFrame(data = test_02["end"])

In [9]:
df_01 = pd.concat([dayList,endList,ageList],axis = 1)
df_02 = pd.concat([dayList,endList,gluList],axis = 1)
df_03 = pd.concat([dayList,endList,astList],axis = 1)
df_04 = pd.concat([dayList,endList,altList],axis = 1)
df_05 = pd.concat([dayList,endList,tchlList],axis = 1)
df_06 = pd.concat([dayList,endList,tgList],axis = 1)
df_07 = pd.concat([dayList,endList,bmiList],axis = 1)
df_08 = pd.concat([dayList,endList,bmigrList],axis = 1)
df_09 = pd.concat([dayList,endList,waistList],axis = 1)
df_10 = pd.concat([dayList,endList,hsiList],axis = 1)
df_11 = pd.concat([dayList,endList,fib4List],axis = 1)
df_12 = pd.concat([dayList,endList,homaList],axis = 1)
df_13 = pd.concat([dayList,endList,hba1cList],axis = 1)

In [10]:
df_01.head()

,day1,day2,day3,day4,day5,day6,day7,end,age1,age2,age3,age4,age5,age6,age7
1,200210,200501,200607,200806,201007,201206,201406,200806,42,45,46,48,50,52,54
2,200204,200404,200605,200804,201004,201204,201404,200605,69,71,73,75,77,79,81
3,200205,200404,200605,200806,201005,201205,201405,200404,50,52,54,56,57,60,62
4,200107,200304,200505,200704,200904,201104,201303,201104,48,50,52,54,56,58,60
5,200210,200408,200608,200812,201008,201209,201407,200812,44,46,48,50,52,54,56

In [15]:
endList = []
for i in range(len(df_01)):
  index_value = df_01.index[df_01.iloc[i,0:7] == df_01.iloc[i,7]].tolist()
  endList.append(df_01.iloc[i,(7+index_value[0])])

df['day'] = endList
print(df)

IndexError: boolean index did not match indexed array along dimension 0; dimension is 3047 but corresponding boolean dimension is 7

In [ ]:
def cal(x):
    endList = []
    for i in range(len(x)):
        index_value = x.index[x.iloc[i,0:7] == x.iloc[i,7]].tolist()
        endList.append(x.iloc[i,(7+index_value[0])])
        
df['day'] = endList

In [ ]:
endList

In [ ]:
# 데이터 생성 
raw_data = {'D1': [1, 4, 8, 6],
            'D2': [2, 5, 3, 5],
            'D3' : [3,6,4,43],
            'D4': [4,34,435,3],
            'end': [3,5,4,6],
            'age1': [34,23,14,41],
            'age2': [35,24,15,42],
            'age3' : [36,25,16,43],
            'age4' : [37,26,17,45]
            }

df = DataFrame(raw_data)
print(df)

endList = []
for i in [0,1,2,3]:
  index_value = df.index[df.iloc[i,0:4] == df.iloc[i,4]].tolist() # 날짜 컬럼 맞추기
  endList.append(df.iloc[i,(5+index_value[0])]) # 맞춘 데이터 리스트 형식으로 만들엊귀 

# 새로 만들어준 리스트를 add라는 컬럼으로 재탄생
df['add'] = endList

print(df)

In [ ]:
endList = []

for i in range(len(test_02.index)):
    index_value = dayList.index[dayList.iloc[i,range(len(dayList.index))] == test_02.iloc[i,test_02["end"].tolist()]]
    endList.append(test_02.iloc[i,(index_value[0])])
                                
test_02['add'] = endList

print(test_02)

In [ ]:
endList = []

for col in dayList.columns:
    for j in range(len(dayList.iloc[col])):
        if dayList.iloc[col] == test_02.iloc[j][9]:
            endList.append(dayList.iloc[col])

In [ ]:
endList = []

for row in dayList.index:
    for col in dayList.columns:
        if dayList.iloc[row][col] == test_02["end"][row]:
            endList.append(ageList[row][col])

endList

In [ ]:
test_02["end"][1]

In [ ]:
test_02["end"]

In [ ]:
dayList.iloc[0][3]

In [ ]:
dayList

In [ ]:
endList=[]

for i in range(len(day_df)):
    for j in range(len(day_df[i])):
        if day_df[i][j].item() == test_02["end"][j].item():
            endList.append(age_df[j][i])

endList

In [ ]:
endAgeList = []

for data in test_02:
    for i in range(len(dayList)):
        if test_02[dayList[i]] == test_02["end"]:
            endAgeList.append(data[ageList[index]])