In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
test = pd.read_excel('/home/ekim_reverse/study/Python.study/hme_annoc_prep1.xlsx')

In [3]:
print(test)

                  환자코드         성별  질병유무  질병확정시점      관찰일수    추적검사월수    추적검사년수  \
0                  RID  AS1_SEX_N  DM_D     end  F_TIME_D  F_TIME_M  F_TIME_Y
1     EPI18_079_000033          1     1  200806      2070        68       5.7
2     EPI18_079_000051          2     1  200605      1491        49       4.1
3     EPI18_079_000069          1     1  200404       701        23       1.9
4     EPI18_079_000075          2     1  201104      3561       117       9.8
...                ...        ...   ...     ...       ...       ...       ...
3043  EPI18_079_010021          2     0  201307      4291       141      11.8
3044  EPI18_079_010022          2     0  201407      4291       141      11.8
3045  EPI18_079_010023          1     0  201405      4169       137      11.4
3046  EPI18_079_010024          2     0  201404      4169       137      11.4
3047  EPI18_079_010028          2     0  201305      4230       139      11.6

            검사일1        검사일2        검사일3  ...     HDL1         혈소판    지방간수치  \
0     AS1_EDATE1  AS2_EDATE2  AS3_EDATE3  ...  AS1_HDL  AS1_PLAT_N  AS1_FLI
1         200210      200501      200607  ...       36         192  34.9965
2         200204      200404      200605  ...       28         374  43.8859
3         200205      200404      200605  ...       37         256  34.9148
4         200107      200304      200505  ...       32         264  25.4902
...          ...         ...         ...  ...      ...         ...      ...
3043      200110      200306      200507  ...       47         116  13.2421
3044      200210      200408      200609  ...       35         283  39.0567
3045      200212      200407      200608  ...       42         305  25.5523
3046      200211      200405      200607  ...       51         371   15.286
3047      200110      200306      200508  ...       63         210  14.2362

      비알콜성지방간수치 NFS섬유화점수       FIB4수치1       FIB4수치2     비만단계  비알콜지방간질환지수  \
0       AS1_NFS  SF1_NFS  SF1_FIB4_325  SF1_FIB4_267  BMI_3GR  NAFLD1_FLI
1      -2.17432        0             0             0        1           0
2      -3.05163        0             0             0        3           1
3      -3.05215        0             0             0        2           0
4      -1.94111        0             0             0        3           1
...         ...      ...           ...           ...      ...         ...
3043  0.0283605        0             1             1        1           0
3044   -2.29367        0             0             0        3           1
3045   -2.95725        0             0             0        3           0
3046   -4.19086        0             0             0        2           0
3047   -2.79726        0             0             0        2           0

       비만그룹
0     GROUP
1         3
2         2
3         3
4         2
...     ...
3043      1
3044      4
3045      2
3046      1
3047      3

[3048 rows x 141 columns]

In [4]:
test_01 = test.rename(columns=test.iloc[0])

In [5]:
test_01

,RID,AS1_SEX_N,DM_D,end,F_TIME_D,F_TIME_M,F_TIME_Y,AS1_EDATE1,AS2_EDATE2,AS3_EDATE3,...,AS1_HDL,AS1_PLAT_N,AS1_FLI,AS1_NFS,SF1_NFS,SF1_FIB4_325,SF1_FIB4_267,BMI_3GR,NAFLD1_FLI,GROUP
0,RID,AS1_SEX_N,DM_D,end,F_TIME_D,F_TIME_M,F_TIME_Y,AS1_EDATE1,AS2_EDATE2,AS3_EDATE3,...,AS1_HDL,AS1_PLAT_N,AS1_FLI,AS1_NFS,SF1_NFS,SF1_FIB4_325,SF1_FIB4_267,BMI_3GR,NAFLD1_FLI,GROUP
1,EPI18_079_000033,1,1,200806,2070,68,5.7,200210,200501,200607,...,36,192,34.9965,-2.17432,0,0,0,1,0,3
2,EPI18_079_000051,2,1,200605,1491,49,4.1,200204,200404,200605,...,28,374,43.8859,-3.05163,0,0,0,3,1,2
3,EPI18_079_000069,1,1,200404,701,23,1.9,200205,200404,200605,...,37,256,34.9148,-3.05215,0,0,0,2,0,3
4,EPI18_079_000075,2,1,201104,3561,117,9.8,200107,200304,200505,...,32,264,25.4902,-1.94111,0,0,0,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3043,EPI18_079_010021,2,0,201307,4291,141,11.8,200110,200306,200507,...,47,116,13.2421,0.0283605,0,1,1,1,0,1
3044,EPI18_079_010022,2,0,201407,4291,141,11.8,200210,200408,200609,...,35,283,39.0567,-2.29367,0,0,0,3,1,4
3045,EPI18_079_010023,1,0,201405,4169,137,11.4,200212,200407,200608,...,42,305,25.5523,-2.95725,0,0,0,3,0,2
3046,EPI18_079_010024,2,0,201404,4169,137,11.4,200211,200405,200607,...,51,371,15.286,-4.19086,0,0,0,2,0,1
3047,EPI18_079_010028,2,0,201305,4230,139,11.6,200110,200306,200508,...,63,210,14.2362,-2.79726,0,0,0,2,0,3

In [6]:
test_02 = test_01.drop(test_01.index[0])

In [7]:
test_02

,RID,AS1_SEX_N,DM_D,end,F_TIME_D,F_TIME_M,F_TIME_Y,AS1_EDATE1,AS2_EDATE2,AS3_EDATE3,...,AS1_HDL,AS1_PLAT_N,AS1_FLI,AS1_NFS,SF1_NFS,SF1_FIB4_325,SF1_FIB4_267,BMI_3GR,NAFLD1_FLI,GROUP
1,EPI18_079_000033,1,1,200806,2070,68,5.7,200210,200501,200607,...,36,192,34.9965,-2.17432,0,0,0,1,0,3
2,EPI18_079_000051,2,1,200605,1491,49,4.1,200204,200404,200605,...,28,374,43.8859,-3.05163,0,0,0,3,1,2
3,EPI18_079_000069,1,1,200404,701,23,1.9,200205,200404,200605,...,37,256,34.9148,-3.05215,0,0,0,2,0,3
4,EPI18_079_000075,2,1,201104,3561,117,9.8,200107,200304,200505,...,32,264,25.4902,-1.94111,0,0,0,3,1,2
5,EPI18_079_000126,2,1,200812,2253,74,6.2,200210,200408,200608,...,39,303,29.5742,-3.59654,0,0,0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3043,EPI18_079_010021,2,0,201307,4291,141,11.8,200110,200306,200507,...,47,116,13.2421,0.0283605,0,1,1,1,0,1
3044,EPI18_079_010022,2,0,201407,4291,141,11.8,200210,200408,200609,...,35,283,39.0567,-2.29367,0,0,0,3,1,4
3045,EPI18_079_010023,1,0,201405,4169,137,11.4,200212,200407,200608,...,42,305,25.5523,-2.95725,0,0,0,3,0,2
3046,EPI18_079_010024,2,0,201404,4169,137,11.4,200211,200405,200607,...,51,371,15.286,-4.19086,0,0,0,2,0,1
3047,EPI18_079_010028,2,0,201305,4230,139,11.6,200110,200306,200508,...,63,210,14.2362,-2.79726,0,0,0,2,0,3

In [8]:
dayList = test_02.loc[:,"AS1_EDATE1":"AS7_EDATE7"]
ageList = test_02.loc[:,"AS1_AGE_N":"AS7_AGE_N"]
gluList = test_02.loc[:,"AS1_GLU0":"AS7_GLU0_N"]
astList = test_02.loc[:,"AS1_AST":"AS7_AST_N"]
altList = test_02.loc[:,"AS1_ALT":"AS7_ALT_N"]
tchlList = test_02.loc[:,"AS1_TCHL":"AS7_TCHL_N"]
tgList = test_02.loc[:,"AS1_TG":"AS7_TG_N"]
bmiList = test_02.loc[:,"AS1_BMI":"AS7_BMI"]
bmigrList = test_02.loc[:,"AS1_BMI_GR":"AS7_BMI_GR"]
waistList = test_02.loc[:,"AS1_WAIST":"AS7_WAIST"]
hsiList = test_02.loc[:,"AS1_HSI":"AS7_HSI"]
fib4List = test_02.loc[:,"AS1_FIB4":"AS7_FIB4"]
homaList = test_02.loc[:,"AS1_HOMA":"AS7_HOMA"]
hba1cList = test_02.loc[:,"AS1_HBA1C_N":"AS7_HBA1C_N"]
dmList = test_02.loc[:,"AS1_DM":"AS7_NEW_DM"]
edateList = test_02.loc[:,"EDATE_1":"EDATE_7"]
nafldList = test_02.loc[:,"NAFLD1":"NAFLD7"]
etcList = test_02.loc[:,"AS1_CREATININE":"AS1_NFS"]
endList = pd.DataFrame(data = test_02["end"])

In [9]:
df_01 = pd.concat([dayList,endList,ageList],axis = 1)
df_02 = pd.concat([dayList,endList,gluList],axis = 1)
df_03 = pd.concat([dayList,endList,astList],axis = 1)
df_04 = pd.concat([dayList,endList,altList],axis = 1)
df_05 = pd.concat([dayList,endList,tchlList],axis = 1)
df_06 = pd.concat([dayList,endList,tgList],axis = 1)
df_07 = pd.concat([dayList,endList,bmiList],axis = 1)
df_08 = pd.concat([dayList,endList,bmigrList],axis = 1)
df_09 = pd.concat([dayList,endList,waistList],axis = 1)
df_10 = pd.concat([dayList,endList,hsiList],axis = 1)
df_11 = pd.concat([dayList,endList,fib4List],axis = 1)
df_12 = pd.concat([dayList,endList,homaList],axis = 1)
df_13 = pd.concat([dayList,endList,hba1cList],axis = 1)
df_14 = pd.concat([dayList,endList,dmList],axis = 1)
df_15 = pd.concat([dayList,endList,edateList],axis = 1)
df_16 = pd.concat([dayList,endList,nafldList],axis = 1)

In [10]:
df_01.head()

,AS1_EDATE1,AS2_EDATE2,AS3_EDATE3,AS4_EDATE4,AS5_EDATE5,AS6_EDATE6,AS7_EDATE7,end,AS1_AGE_N,AS2_AGE_N,AS3_AGE_N,AS4_AGE_N,AS5_AGE_N,AS6_AGE_N,AS7_AGE_N
1,200210,200501,200607,200806,201007,201206,201406,200806,42,45,46,48,50,52,54
2,200204,200404,200605,200804,201004,201204,201404,200605,69,71,73,75,77,79,81
3,200205,200404,200605,200806,201005,201205,201405,200404,50,52,54,56,57,60,62
4,200107,200304,200505,200704,200904,201104,201303,201104,48,50,52,54,56,58,60
5,200210,200408,200608,200812,201008,201209,201407,200812,44,46,48,50,52,54,56

In [11]:
df = pd.DataFrame()

In [12]:
endData = []
for i in range(len(df_01)):
  index_value = df_01.iloc[i,0:7] == df_01.iloc[i,7]
  endData.append(df_01.iloc[i,(8+np.where(index_value)[0][0])])

df['age'] = endData
print(df)

      age
0      48
1      73
2      52
3      58
4      50
...   ...
3042   72
3043   67
3044   73
3045   58
3046   53

[3047 rows x 1 columns]

In [13]:
endData = []
for i in range(len(df_02)):
  index_value = df_02.iloc[i,0:7] == df_02.iloc[i,7]
  endData.append(df_02.iloc[i,(8+np.where(index_value)[0][0])])

df['glu'] = endData
print(df)

      age    glu
0      48  140.0
1      73    NaN
2      52  138.0
3      58   98.0
4      50  132.0
...   ...    ...
3042   72   82.0
3043   67   93.0
3044   73   92.0
3045   58   90.0
3046   53   88.0

[3047 rows x 2 columns]

In [14]:
endData = []
for i in range(len(df_03)):
  index_value = df_03.iloc[i,0:7] == df_03.iloc[i,7]
  endData.append(df_03.iloc[i,(8+np.where(index_value)[0][0])])

df['ast'] = endData
print(df)

      age    glu  ast
0      48  140.0   23
1      73    NaN   22
2      52  138.0   20
3      58   98.0   16
4      50  132.0   20
...   ...    ...  ...
3042   72   82.0   29
3043   67   93.0   16
3044   73   92.0   35
3045   58   90.0   21
3046   53   88.0   54

[3047 rows x 3 columns]

In [15]:
endData = []
for i in range(len(df_04)):
  index_value = df_04.iloc[i,0:7] == df_04.iloc[i,7]
  endData.append(df_04.iloc[i,(8+np.where(index_value)[0][0])])

df['alt'] = endData
print(df)

      age    glu  ast   alt
0      48  140.0   23  32.0
1      73    NaN   22  17.0
2      52  138.0   20  33.0
3      58   98.0   16  21.0
4      50  132.0   20  24.0
...   ...    ...  ...   ...
3042   72   82.0   29  14.0
3043   67   93.0   16  15.0
3044   73   92.0   35  44.0
3045   58   90.0   21  15.0
3046   53   88.0   54  62.0

[3047 rows x 4 columns]

In [16]:
endData = []
for i in range(len(df_05)):
  index_value = df_05.iloc[i,0:7] == df_05.iloc[i,7]
  endData.append(df_05.iloc[i,(8+np.where(index_value)[0][0])])

df['tchl'] = endData
print(df)

      age    glu  ast   alt  tchl
0      48  140.0   23  32.0   211
1      73    NaN   22  17.0   125
2      52  138.0   20  33.0   254
3      58   98.0   16  21.0   211
4      50  132.0   20  24.0   245
...   ...    ...  ...   ...   ...
3042   72   82.0   29  14.0   184
3043   67   93.0   16  15.0   177
3044   73   92.0   35  44.0   153
3045   58   90.0   21  15.0   153
3046   53   88.0   54  62.0   146

[3047 rows x 5 columns]

In [17]:
endData = []
for i in range(len(df_06)):
  index_value = df_06.iloc[i,0:7] == df_06.iloc[i,7]
  endData.append(df_06.iloc[i,(8+np.where(index_value)[0][0])])

df['tg'] = endData
print(df)

      age    glu  ast   alt  tchl   tg
0      48  140.0   23  32.0   211  178
1      73    NaN   22  17.0   125  126
2      52  138.0   20  33.0   254  192
3      58   98.0   16  21.0   211  362
4      50  132.0   20  24.0   245  194
...   ...    ...  ...   ...   ...  ...
3042   72   82.0   29  14.0   184  141
3043   67   93.0   16  15.0   177  122
3044   73   92.0   35  44.0   153  106
3045   58   90.0   21  15.0   153  133
3046   53   88.0   54  62.0   146   45

[3047 rows x 6 columns]

In [18]:
endData = []
for i in range(len(df_07)):
  index_value = df_07.iloc[i,0:7] == df_07.iloc[i,7]
  endData.append(df_07.iloc[i,(8+np.where(index_value)[0][0])])

df['bmi'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi
0      48  140.0   23  32.0   211  178  22.045197
1      73    NaN   22  17.0   125  126  24.408284
2      52  138.0   20  33.0   254  192  24.935773
3      58   98.0   16  21.0   211  362  26.595698
4      50  132.0   20  24.0   245  194  25.161263
...   ...    ...  ...   ...   ...  ...        ...
3042   72   82.0   29  14.0   184  141  21.541406
3043   67   93.0   16  15.0   177  122  31.307901
3044   73   92.0   35  44.0   153  106  22.975779
3045   58   90.0   21  15.0   153  133  25.565263
3046   53   88.0   54  62.0   146   45  23.291331

[3047 rows x 7 columns]

In [19]:
endData = []
for i in range(len(df_08)):
  index_value = df_08.iloc[i,0:7] == df_08.iloc[i,7]
  endData.append(df_08.iloc[i,(8+np.where(index_value)[0][0])])

df['bmigr'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi  bmigr
0      48  140.0   23  32.0   211  178  22.045197      2
1      73    NaN   22  17.0   125  126  24.408284      3
2      52  138.0   20  33.0   254  192  24.935773      3
3      58   98.0   16  21.0   211  362  26.595698      4
4      50  132.0   20  24.0   245  194  25.161263      4
...   ...    ...  ...   ...   ...  ...        ...    ...
3042   72   82.0   29  14.0   184  141  21.541406      2
3043   67   93.0   16  15.0   177  122  31.307901      4
3044   73   92.0   35  44.0   153  106  22.975779      2
3045   58   90.0   21  15.0   153  133  25.565263      4
3046   53   88.0   54  62.0   146   45  23.291331      3

[3047 rows x 8 columns]

In [20]:
endData = []
for i in range(len(df_09)):
  index_value = df_09.iloc[i,0:7] == df_09.iloc[i,7]
  endData.append(df_09.iloc[i,(8+np.where(index_value)[0][0])])

df['waist'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi  bmigr       waist
0      48  140.0   23  32.0   211  178  22.045197      2   76.800000
1      73    NaN   22  17.0   125  126  24.408284      3   92.700000
2      52  138.0   20  33.0   254  192  24.935773      3   91.800000
3      58   98.0   16  21.0   211  362  26.595698      4   85.566667
4      50  132.0   20  24.0   245  194  25.161263      4   89.033333
...   ...    ...  ...   ...   ...  ...        ...    ...         ...
3042   72   82.0   29  14.0   184  141  21.541406      2   84.300000
3043   67   93.0   16  15.0   177  122  31.307901      4  102.000000
3044   73   92.0   35  44.0   153  106  22.975779      2   85.300000
3045   58   90.0   21  15.0   153  133  25.565263      4   89.000000
3046   53   88.0   54  62.0   146   45  23.291331      3   76.600000

[3047 rows x 9 columns]

In [21]:
endData = []
for i in range(len(df_10)):
  index_value = df_10.iloc[i,0:7] == df_10.iloc[i,7]
  endData.append(df_10.iloc[i,(8+np.where(index_value)[0][0])])

df['hsi'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi  bmigr       waist  \
0      48  140.0   23  32.0   211  178  22.045197      2   76.800000
1      73    NaN   22  17.0   125  126  24.408284      3   92.700000
2      52  138.0   20  33.0   254  192  24.935773      3   91.800000
3      58   98.0   16  21.0   211  362  26.595698      4   85.566667
4      50  132.0   20  24.0   245  194  25.161263      4   89.033333
...   ...    ...  ...   ...   ...  ...        ...    ...         ...
3042   72   82.0   29  14.0   184  141  21.541406      2   84.300000
3043   67   93.0   16  15.0   177  122  31.307901      4  102.000000
3044   73   92.0   35  44.0   153  106  22.975779      2   85.300000
3045   58   90.0   21  15.0   153  133  25.565263      4   89.000000
3046   53   88.0   54  62.0   146   45  23.291331      3   76.600000

            hsi
0     34.175632
1     32.590102
2     39.135773
3     39.095698
4     36.761263
...         ...
3042  27.403475
3043  40.807901
3044  34.032921
3045  33.279548
3046  34.476516

[3047 rows x 10 columns]

In [22]:
endData = []
for i in range(len(df_11)):
  index_value = df_11.iloc[i,0:7] == df_11.iloc[i,7]
  endData.append(df_11.iloc[i,(8+np.where(index_value)[0][0])])

df['fib4'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi  bmigr       waist  \
0      48  140.0   23  32.0   211  178  22.045197      2   76.800000
1      73    NaN   22  17.0   125  126  24.408284      3   92.700000
2      52  138.0   20  33.0   254  192  24.935773      3   91.800000
3      58   98.0   16  21.0   211  362  26.595698      4   85.566667
4      50  132.0   20  24.0   245  194  25.161263      4   89.033333
...   ...    ...  ...   ...   ...  ...        ...    ...         ...
3042   72   82.0   29  14.0   184  141  21.541406      2   84.300000
3043   67   93.0   16  15.0   177  122  31.307901      4  102.000000
3044   73   92.0   35  44.0   153  106  22.975779      2   85.300000
3045   58   90.0   21  15.0   153  133  25.565263      4   89.000000
3046   53   88.0   54  62.0   146   45  23.291331      3   76.600000

            hsi      fib4
0     34.175632  0.952007
1     32.590102  0.820026
2     39.135773  0.804626
3     39.095698  1.002506
4     36.761263  0.671461
...         ...       ...
3042  27.403475  4.133641
3043  40.807901  1.193057
3044  34.032921  1.292553
3045  33.279548  0.914204
3046  34.476516  1.845048

[3047 rows x 11 columns]

In [23]:
endData = []
for i in range(len(df_12)):
  index_value = df_12.iloc[i,0:7] == df_12.iloc[i,7]
  endData.append(df_12.iloc[i,(8+np.where(index_value)[0][0])])

df['homa'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi  bmigr       waist  \
0      48  140.0   23  32.0   211  178  22.045197      2   76.800000
1      73    NaN   22  17.0   125  126  24.408284      3   92.700000
2      52  138.0   20  33.0   254  192  24.935773      3   91.800000
3      58   98.0   16  21.0   211  362  26.595698      4   85.566667
4      50  132.0   20  24.0   245  194  25.161263      4   89.033333
...   ...    ...  ...   ...   ...  ...        ...    ...         ...
3042   72   82.0   29  14.0   184  141  21.541406      2   84.300000
3043   67   93.0   16  15.0   177  122  31.307901      4  102.000000
3044   73   92.0   35  44.0   153  106  22.975779      2   85.300000
3045   58   90.0   21  15.0   153  133  25.565263      4   89.000000
3046   53   88.0   54  62.0   146   45  23.291331      3   76.600000

            hsi      fib4      homa
0     34.175632  0.952007  2.316049
1     32.590102  0.820026       NaN
2     39.135773  0.804626  3.645926
3     39.095698  1.002506  2.758519
4     36.761263  0.671461  3.454815
...         ...       ...       ...
3042  27.403475  4.133641  1.761481
3043  40.807901  1.193057  2.204444
3044  34.032921  1.292553  1.862716
3045  33.279548  0.914204  1.711111
3046  34.476516  1.845048  1.760000

[3047 rows x 12 columns]

In [24]:
endData = []
for i in range(len(df_13)):
  index_value = df_13.iloc[i,0:7] == df_13.iloc[i,7]
  endData.append(df_13.iloc[i,(8+np.where(index_value)[0][0])])

df['hba1c'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi  bmigr       waist  \
0      48  140.0   23  32.0   211  178  22.045197      2   76.800000
1      73    NaN   22  17.0   125  126  24.408284      3   92.700000
2      52  138.0   20  33.0   254  192  24.935773      3   91.800000
3      58   98.0   16  21.0   211  362  26.595698      4   85.566667
4      50  132.0   20  24.0   245  194  25.161263      4   89.033333
...   ...    ...  ...   ...   ...  ...        ...    ...         ...
3042   72   82.0   29  14.0   184  141  21.541406      2   84.300000
3043   67   93.0   16  15.0   177  122  31.307901      4  102.000000
3044   73   92.0   35  44.0   153  106  22.975779      2   85.300000
3045   58   90.0   21  15.0   153  133  25.565263      4   89.000000
3046   53   88.0   54  62.0   146   45  23.291331      3   76.600000

            hsi      fib4      homa  hba1c
0     34.175632  0.952007  2.316049    6.2
1     32.590102  0.820026       NaN    7.7
2     39.135773  0.804626  3.645926    NaN
3     39.095698  1.002506  2.758519    6.7
4     36.761263  0.671461  3.454815    7.7
...         ...       ...       ...    ...
3042  27.403475  4.133641  1.761481    5.1
3043  40.807901  1.193057  2.204444    5.7
3044  34.032921  1.292553  1.862716    5.5
3045  33.279548  0.914204  1.711111    5.9
3046  34.476516  1.845048  1.760000    5.7

[3047 rows x 13 columns]

In [25]:
endData = []
for i in range(len(df_14)):
  index_value = df_14.iloc[i,0:7] == df_14.iloc[i,7]
  endData.append(df_14.iloc[i,(8+np.where(index_value)[0][0])])

df['dm'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi  bmigr       waist  \
0      48  140.0   23  32.0   211  178  22.045197      2   76.800000
1      73    NaN   22  17.0   125  126  24.408284      3   92.700000
2      52  138.0   20  33.0   254  192  24.935773      3   91.800000
3      58   98.0   16  21.0   211  362  26.595698      4   85.566667
4      50  132.0   20  24.0   245  194  25.161263      4   89.033333
...   ...    ...  ...   ...   ...  ...        ...    ...         ...
3042   72   82.0   29  14.0   184  141  21.541406      2   84.300000
3043   67   93.0   16  15.0   177  122  31.307901      4  102.000000
3044   73   92.0   35  44.0   153  106  22.975779      2   85.300000
3045   58   90.0   21  15.0   153  133  25.565263      4   89.000000
3046   53   88.0   54  62.0   146   45  23.291331      3   76.600000

            hsi      fib4      homa  hba1c  dm
0     34.175632  0.952007  2.316049    6.2   1
1     32.590102  0.820026       NaN    7.7   1
2     39.135773  0.804626  3.645926    NaN   1
3     39.095698  1.002506  2.758519    6.7   1
4     36.761263  0.671461  3.454815    7.7   1
...         ...       ...       ...    ...  ..
3042  27.403475  4.133641  1.761481    5.1   0
3043  40.807901  1.193057  2.204444    5.7   0
3044  34.032921  1.292553  1.862716    5.5   0
3045  33.279548  0.914204  1.711111    5.9   0
3046  34.476516  1.845048  1.760000    5.7   0

[3047 rows x 14 columns]

In [26]:
endData = []
for i in range(len(df_15)):
  index_value = df_15.iloc[i,0:7] == df_15.iloc[i,7]
  endData.append(df_15.iloc[i,(8+np.where(index_value)[0][0])])

df['edate'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi  bmigr       waist  \
0      48  140.0   23  32.0   211  178  22.045197      2   76.800000
1      73    NaN   22  17.0   125  126  24.408284      3   92.700000
2      52  138.0   20  33.0   254  192  24.935773      3   91.800000
3      58   98.0   16  21.0   211  362  26.595698      4   85.566667
4      50  132.0   20  24.0   245  194  25.161263      4   89.033333
...   ...    ...  ...   ...   ...  ...        ...    ...         ...
3042   72   82.0   29  14.0   184  141  21.541406      2   84.300000
3043   67   93.0   16  15.0   177  122  31.307901      4  102.000000
3044   73   92.0   35  44.0   153  106  22.975779      2   85.300000
3045   58   90.0   21  15.0   153  133  25.565263      4   89.000000
3046   53   88.0   54  62.0   146   45  23.291331      3   76.600000

            hsi      fib4      homa  hba1c  dm  edate
0     34.175632  0.952007  2.316049    6.2   1  17684
1     32.590102  0.820026       NaN    7.7   1  16922
2     39.135773  0.804626  3.645926    NaN   1  16162
3     39.095698  1.002506  2.758519    6.7   1  18718
4     36.761263  0.671461  3.454815    7.7   1  17867
...         ...       ...       ...    ...  ..    ...
3042  27.403475  4.133641  1.761481    5.1   0  19540
3043  40.807901  1.193057  2.204444    5.7   0  19905
3044  34.032921  1.292553  1.862716    5.5   0  19844
3045  33.279548  0.914204  1.711111    5.9   0  19814
3046  34.476516  1.845048  1.760000    5.7   0  19479

[3047 rows x 15 columns]

In [27]:
endData = []
for i in range(len(df_16)):
  index_value = df_16.iloc[i,0:7] == df_16.iloc[i,7]
  endData.append(df_16.iloc[i,(8+np.where(index_value)[0][0])])

df['nafld'] = endData
print(df)

      age    glu  ast   alt  tchl   tg        bmi  bmigr       waist  \
0      48  140.0   23  32.0   211  178  22.045197      2   76.800000
1      73    NaN   22  17.0   125  126  24.408284      3   92.700000
2      52  138.0   20  33.0   254  192  24.935773      3   91.800000
3      58   98.0   16  21.0   211  362  26.595698      4   85.566667
4      50  132.0   20  24.0   245  194  25.161263      4   89.033333
...   ...    ...  ...   ...   ...  ...        ...    ...         ...
3042   72   82.0   29  14.0   184  141  21.541406      2   84.300000
3043   67   93.0   16  15.0   177  122  31.307901      4  102.000000
3044   73   92.0   35  44.0   153  106  22.975779      2   85.300000
3045   58   90.0   21  15.0   153  133  25.565263      4   89.000000
3046   53   88.0   54  62.0   146   45  23.291331      3   76.600000

            hsi      fib4      homa  hba1c  dm  edate  nafld
0     34.175632  0.952007  2.316049    6.2   1  17684      0
1     32.590102  0.820026       NaN    7.7   1  16922      0
2     39.135773  0.804626  3.645926    NaN   1  16162      1
3     39.095698  1.002506  2.758519    6.7   1  18718      1
4     36.761263  0.671461  3.454815    7.7   1  17867      1
...         ...       ...       ...    ...  ..    ...    ...
3042  27.403475  4.133641  1.761481    5.1   0  19540      0
3043  40.807901  1.193057  2.204444    5.7   0  19905      1
3044  34.032921  1.292553  1.862716    5.5   0  19844      0
3045  33.279548  0.914204  1.711111    5.9   0  19814      0
3046  34.476516  1.845048  1.760000    5.7   0  19479      0

[3047 rows x 16 columns]

In [28]:
df = pd.concat([df, etcList],axis = 1)

In [29]:
df.head()

,age,glu,ast,alt,tchl,tg,bmi,bmigr,waist,hsi,...,dm,edate,nafld,AS1_CREATININE,AS1_ALBUMIN,AS1_R_GTP,AS1_HDL,AS1_PLAT_N,AS1_FLI,AS1_NFS
0,48.0,140.0,23.0,32.0,211.0,178.0,22.045197,2.0,76.800000,34.175632,...,1.0,17684.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73.0,NaN,22.0,17.0,125.0,126.0,24.408284,3.0,92.700000,32.590102,...,1.0,16922.0,0.0,1.1,5.1,35,36,192,34.9965,-2.17432
2,52.0,138.0,20.0,33.0,254.0,192.0,24.935773,3.0,91.800000,39.135773,...,1.0,16162.0,1.0,0.7,3.9,9,28,374,43.8859,-3.05163
3,58.0,98.0,16.0,21.0,211.0,362.0,26.595698,4.0,85.566667,39.095698,...,1.0,18718.0,1.0,1.1,4.4,25,37,256,34.9148,-3.05215
4,50.0,132.0,20.0,24.0,245.0,194.0,25.161263,4.0,89.033333,36.761263,...,1.0,17867.0,1.0,0.6,3.8,14,32,264,25.4902,-1.94111

In [30]:
df.to_excel('/home/ekim_reverse/study/Python.study/df.xlsx',sheet_name='sheet1', index=False)

In [ ]:
# !pip install openpyxl

In [ ]:
def cal(x):
    endData = []
    for i in range(len(self)):
        index_value = self.iloc[i,0:7] == self.iloc[i,7]
        endData.append(self.iloc[i,(7+np.where(index_value[0][0]))])
    self['add'] = endData

In [ ]:
cal(df_02)

In [ ]:
endList

In [ ]:
# 데이터 생성 
raw_data = {'D1': [1, 4, 8, 6],
            'D2': [2, 5, 3, 5],
            'D3' : [3,6,4,43],
            'D4': [4,34,435,3],
            'end': [3,5,4,6],
            'age1': [34,23,14,41],
            'age2': [35,24,15,42],
            'age3' : [36,25,16,43],
            'age4' : [37,26,17,45]
            }

df = DataFrame(raw_data)
print(df)

endList = []
for i in [0,1,2,3]:
  index_value = df.index[df.iloc[i,0:4] == df.iloc[i,4]].tolist() # 날짜 컬럼 맞추기
  endList.append(df.iloc[i,(5+index_value[0])]) # 맞춘 데이터 리스트 형식으로 만들엊귀 

# 새로 만들어준 리스트를 add라는 컬럼으로 재탄생
df['add'] = endList

print(df)

In [ ]:
endList = []

for i in range(len(test_02.index)):
    index_value = dayList.index[dayList.iloc[i,range(len(dayList.index))] == test_02.iloc[i,test_02["end"].tolist()]]
    endList.append(test_02.iloc[i,(index_value[0])])
                                
test_02['add'] = endList

print(test_02)

In [ ]:
endList = []

for col in dayList.columns:
    for j in range(len(dayList.iloc[col])):
        if dayList.iloc[col] == test_02.iloc[j][9]:
            endList.append(dayList.iloc[col])

In [ ]:
endList = []

for row in dayList.index:
    for col in dayList.columns:
        if dayList.iloc[row][col] == test_02["end"][row]:
            endList.append(ageList[row][col])

endList

In [ ]:
test_02["end"][1]

In [ ]:
test_02["end"]

In [ ]:
dayList.iloc[0][3]

In [ ]:
dayList

In [ ]:
endList=[]

for i in range(len(day_df)):
    for j in range(len(day_df[i])):
        if day_df[i][j].item() == test_02["end"][j].item():
            endList.append(age_df[j][i])

endList

In [ ]:
endAgeList = []

for data in test_02:
    for i in range(len(dayList)):
        if test_02[dayList[i]] == test_02["end"]:
            endAgeList.append(data[ageList[index]])