In [8]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [9]:
test = pd.read_excel('/home/ekim_reverse/study/Python.study/hme_annoc_prep1.xlsx')

In [10]:
print(test)

                  환자코드         성별  질병유무  질병확정시점      관찰일수    추적검사월수    추적검사년수  \
0                  RID  AS1_SEX_N  DM_D     end  F_TIME_D  F_TIME_M  F_TIME_Y
1     EPI18_079_000033          1     1  200806      2070        68       5.7
2     EPI18_079_000051          2     1  200605      1491        49       4.1
3     EPI18_079_000069          1     1  200404       701        23       1.9
4     EPI18_079_000075          2     1  201104      3561       117       9.8
...                ...        ...   ...     ...       ...       ...       ...
3043  EPI18_079_010021          2     0  201307      4291       141      11.8
3044  EPI18_079_010022          2     0  201407      4291       141      11.8
3045  EPI18_079_010023          1     0  201405      4169       137      11.4
3046  EPI18_079_010024          2     0  201404      4169       137      11.4
3047  EPI18_079_010028          2     0  201305      4230       139      11.6

            검사일1        검사일2        검사일3  ...     HDL1         혈소판    지방간수치  \
0     AS1_EDATE1  AS2_EDATE2  AS3_EDATE3  ...  AS1_HDL  AS1_PLAT_N  AS1_FLI
1         200210      200501      200607  ...       36         192  34.9965
2         200204      200404      200605  ...       28         374  43.8859
3         200205      200404      200605  ...       37         256  34.9148
4         200107      200304      200505  ...       32         264  25.4902
...          ...         ...         ...  ...      ...         ...      ...
3043      200110      200306      200507  ...       47         116  13.2421
3044      200210      200408      200609  ...       35         283  39.0567
3045      200212      200407      200608  ...       42         305  25.5523
3046      200211      200405      200607  ...       51         371   15.286
3047      200110      200306      200508  ...       63         210  14.2362

      비알콜성지방간수치 NFS섬유화점수       FIB4수치1       FIB4수치2     비만단계  비알콜지방간질환지수  \
0       AS1_NFS  SF1_NFS  SF1_FIB4_325  SF1_FIB4_267  BMI_3GR  NAFLD1_FLI
1      -2.17432        0             0             0        1           0
2      -3.05163        0             0             0        3           1
3      -3.05215        0             0             0        2           0
4      -1.94111        0             0             0        3           1
...         ...      ...           ...           ...      ...         ...
3043  0.0283605        0             1             1        1           0
3044   -2.29367        0             0             0        3           1
3045   -2.95725        0             0             0        3           0
3046   -4.19086        0             0             0        2           0
3047   -2.79726        0             0             0        2           0

       비만그룹
0     GROUP
1         3
2         2
3         3
4         2
...     ...
3043      1
3044      4
3045      2
3046      1
3047      3

[3048 rows x 141 columns]

In [11]:
test_01 = test.rename(columns=test.iloc[0])

In [12]:
test_01

,RID,AS1_SEX_N,DM_D,end,F_TIME_D,F_TIME_M,F_TIME_Y,AS1_EDATE1,AS2_EDATE2,AS3_EDATE3,...,AS1_HDL,AS1_PLAT_N,AS1_FLI,AS1_NFS,SF1_NFS,SF1_FIB4_325,SF1_FIB4_267,BMI_3GR,NAFLD1_FLI,GROUP
0,RID,AS1_SEX_N,DM_D,end,F_TIME_D,F_TIME_M,F_TIME_Y,AS1_EDATE1,AS2_EDATE2,AS3_EDATE3,...,AS1_HDL,AS1_PLAT_N,AS1_FLI,AS1_NFS,SF1_NFS,SF1_FIB4_325,SF1_FIB4_267,BMI_3GR,NAFLD1_FLI,GROUP
1,EPI18_079_000033,1,1,200806,2070,68,5.7,200210,200501,200607,...,36,192,34.9965,-2.17432,0,0,0,1,0,3
2,EPI18_079_000051,2,1,200605,1491,49,4.1,200204,200404,200605,...,28,374,43.8859,-3.05163,0,0,0,3,1,2
3,EPI18_079_000069,1,1,200404,701,23,1.9,200205,200404,200605,...,37,256,34.9148,-3.05215,0,0,0,2,0,3
4,EPI18_079_000075,2,1,201104,3561,117,9.8,200107,200304,200505,...,32,264,25.4902,-1.94111,0,0,0,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3043,EPI18_079_010021,2,0,201307,4291,141,11.8,200110,200306,200507,...,47,116,13.2421,0.0283605,0,1,1,1,0,1
3044,EPI18_079_010022,2,0,201407,4291,141,11.8,200210,200408,200609,...,35,283,39.0567,-2.29367,0,0,0,3,1,4
3045,EPI18_079_010023,1,0,201405,4169,137,11.4,200212,200407,200608,...,42,305,25.5523,-2.95725,0,0,0,3,0,2
3046,EPI18_079_010024,2,0,201404,4169,137,11.4,200211,200405,200607,...,51,371,15.286,-4.19086,0,0,0,2,0,1
3047,EPI18_079_010028,2,0,201305,4230,139,11.6,200110,200306,200508,...,63,210,14.2362,-2.79726,0,0,0,2,0,3

In [13]:
test_02 = test_01.drop(test_01.index[0])

In [14]:
test_02

,RID,AS1_SEX_N,DM_D,end,F_TIME_D,F_TIME_M,F_TIME_Y,AS1_EDATE1,AS2_EDATE2,AS3_EDATE3,...,AS1_HDL,AS1_PLAT_N,AS1_FLI,AS1_NFS,SF1_NFS,SF1_FIB4_325,SF1_FIB4_267,BMI_3GR,NAFLD1_FLI,GROUP
1,EPI18_079_000033,1,1,200806,2070,68,5.7,200210,200501,200607,...,36,192,34.9965,-2.17432,0,0,0,1,0,3
2,EPI18_079_000051,2,1,200605,1491,49,4.1,200204,200404,200605,...,28,374,43.8859,-3.05163,0,0,0,3,1,2
3,EPI18_079_000069,1,1,200404,701,23,1.9,200205,200404,200605,...,37,256,34.9148,-3.05215,0,0,0,2,0,3
4,EPI18_079_000075,2,1,201104,3561,117,9.8,200107,200304,200505,...,32,264,25.4902,-1.94111,0,0,0,3,1,2
5,EPI18_079_000126,2,1,200812,2253,74,6.2,200210,200408,200608,...,39,303,29.5742,-3.59654,0,0,0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3043,EPI18_079_010021,2,0,201307,4291,141,11.8,200110,200306,200507,...,47,116,13.2421,0.0283605,0,1,1,1,0,1
3044,EPI18_079_010022,2,0,201407,4291,141,11.8,200210,200408,200609,...,35,283,39.0567,-2.29367,0,0,0,3,1,4
3045,EPI18_079_010023,1,0,201405,4169,137,11.4,200212,200407,200608,...,42,305,25.5523,-2.95725,0,0,0,3,0,2
3046,EPI18_079_010024,2,0,201404,4169,137,11.4,200211,200405,200607,...,51,371,15.286,-4.19086,0,0,0,2,0,1
3047,EPI18_079_010028,2,0,201305,4230,139,11.6,200110,200306,200508,...,63,210,14.2362,-2.79726,0,0,0,2,0,3

In [15]:
dayList = test_02.loc[:,"AS1_EDATE1":"AS7_EDATE7"]
ageList = test_02.loc[:,"AS1_AGE_N":"AS7_AGE_N"]
gluList = test_02.loc[:,"AS1_GLU0":"AS7_GLU0_N"]
astList = test_02.loc[:,"AS1_AST":"AS7_AST_N"]
altList = test_02.loc[:,"AS1_ALT":"AS7_ALT_N"]
tchlList = test_02.loc[:,"AS1_TCHL":"AS7_TCHL_N"]
tgList = test_02.loc[:,"AS1_TG":"AS7_TG_N"]
bmiList = test_02.loc[:,"AS1_BMI":"AS7_BMI"]
bmigrList = test_02.loc[:,"AS1_BMI_GR":"AS7_BMI_GR"]
waistList = test_02.loc[:,"AS1_WAIST":"AS7_WAIST"]
hsiList = test_02.loc[:,"AS1_HSI":"AS7_HSI"]
fib4List = test_02.loc[:,"AS1_FIB4":"AS7_FIB4"]
homaList = test_02.loc[:,"AS1_HOMA":"AS7_HOMA"]
hba1cList = test_02.loc[:,"AS1_HBA1C_N":"AS7_HBA1C_N"]
dmList = test_02.loc[:,"AS1_DM":"AS7_NEW_DM"]
edateList = test_02.loc[:,"EDATE_1":"EDATE_7"]
nafldList = test_02.loc[:,"NAFLD1":"NAFLD7"]
etcList = test_02.loc[:,"AS1_CREATININE":"AS1_NFS"]
endList = pd.DataFrame(data = test_02["end"])

In [17]:
df_01 = pd.concat([dayList,endList,ageList],axis = 1)
df_02 = pd.concat([dayList,endList,gluList],axis = 1)
df_03 = pd.concat([dayList,endList,astList],axis = 1)
df_04 = pd.concat([dayList,endList,altList],axis = 1)
df_05 = pd.concat([dayList,endList,tchlList],axis = 1)
df_06 = pd.concat([dayList,endList,tgList],axis = 1)
df_07 = pd.concat([dayList,endList,bmiList],axis = 1)
df_08 = pd.concat([dayList,endList,bmigrList],axis = 1)
df_09 = pd.concat([dayList,endList,waistList],axis = 1)
df_10 = pd.concat([dayList,endList,hsiList],axis = 1)
df_11 = pd.concat([dayList,endList,fib4List],axis = 1)
df_12 = pd.concat([dayList,endList,homaList],axis = 1)
df_13 = pd.concat([dayList,endList,hba1cList],axis = 1)
df_14 = pd.concat([dayList,endList,dmList],axis = 1)
df_15 = pd.concat([dayList,endList,edateList],axis = 1)
df_16 = pd.concat([dayList,endList,nafldList],axis = 1)

In [18]:
df_01.head()

,AS1_EDATE1,AS2_EDATE2,AS3_EDATE3,AS4_EDATE4,AS5_EDATE5,AS6_EDATE6,AS7_EDATE7,end,AS1_AGE_N,AS2_AGE_N,AS3_AGE_N,AS4_AGE_N,AS5_AGE_N,AS6_AGE_N,AS7_AGE_N
1,200210,200501,200607,200806,201007,201206,201406,200806,42,45,46,48,50,52,54
2,200204,200404,200605,200804,201004,201204,201404,200605,69,71,73,75,77,79,81
3,200205,200404,200605,200806,201005,201205,201405,200404,50,52,54,56,57,60,62
4,200107,200304,200505,200704,200904,201104,201303,201104,48,50,52,54,56,58,60
5,200210,200408,200608,200812,201008,201209,201407,200812,44,46,48,50,52,54,56

In [28]:
endData = []
for i in range(len(df_01)):
  index_value = df_01.iloc[i,0:7] == df_01.iloc[i,7]
  endData.append(df_01.iloc[i,(7+np.where(index_value)[0][0])])

df_01['day'] = endData
print(df_01)

     AS1_EDATE1 AS2_EDATE2 AS3_EDATE3 AS4_EDATE4 AS5_EDATE5 AS6_EDATE6  \
1        200210     200501     200607     200806     201007     201206
2        200204     200404     200605     200804     201004     201204
3        200205     200404     200605     200806     201005     201205
4        200107     200304     200505     200704     200904     201104
5        200210     200408     200608     200812     201008     201209
...         ...        ...        ...        ...        ...        ...
3043     200110     200306     200507     200706     200907     201104
3044     200210     200408     200609     200812     201009     201209
3045     200212     200407     200608     200810     201007     201207
3046     200211     200405     200607     200807     201008     201207
3047     200110     200306     200508     200706     200907     201107

     AS7_EDATE7     end AS1_AGE_N AS2_AGE_N AS3_AGE_N AS4_AGE_N AS5_AGE_N  \
1        201406  200806        42        45        46        48        50
2        201404  200605        69        71        73        75        77
3        201405  200404        50        52        54        56        57
4        201303  201104        48        50        52        54        56
5        201407  200812        44        46        48        50        52
...         ...     ...       ...       ...       ...       ...       ...
3043     201307  201307        60        62        64        66        68
3044     201407  201407        55        57        59        61        63
3045     201405  201405        61        63        65        67        69
3046     201404  201404        46        48        50        52        54
3047     201305  201305        41        43        45        47        49

     AS6_AGE_N AS7_AGE_N  day
1           52        54   46
2           79        81   71
3           60        62   50
4           58        60   56
5           54        56   48
...        ...       ...  ...
3043        70        72   70
3044        65        67   65
3045        71        73   71
3046        56        58   56
3047        51        53   51

[3047 rows x 16 columns]

In [29]:
def cal(x):
    endData = []
    for i in range(len(self)):
        index_value = self.iloc[i,0:7] == self.iloc[i,7]
        endData.append(self.iloc[i,(7+np.where(index_value[0][0]))])
    self['add'] = endData

In [30]:
cal(df_02)

NameError: name 'self' is not defined

In [ ]:
endList

In [ ]:
# 데이터 생성 
raw_data = {'D1': [1, 4, 8, 6],
            'D2': [2, 5, 3, 5],
            'D3' : [3,6,4,43],
            'D4': [4,34,435,3],
            'end': [3,5,4,6],
            'age1': [34,23,14,41],
            'age2': [35,24,15,42],
            'age3' : [36,25,16,43],
            'age4' : [37,26,17,45]
            }

df = DataFrame(raw_data)
print(df)

endList = []
for i in [0,1,2,3]:
  index_value = df.index[df.iloc[i,0:4] == df.iloc[i,4]].tolist() # 날짜 컬럼 맞추기
  endList.append(df.iloc[i,(5+index_value[0])]) # 맞춘 데이터 리스트 형식으로 만들엊귀 

# 새로 만들어준 리스트를 add라는 컬럼으로 재탄생
df['add'] = endList

print(df)

In [ ]:
endList = []

for i in range(len(test_02.index)):
    index_value = dayList.index[dayList.iloc[i,range(len(dayList.index))] == test_02.iloc[i,test_02["end"].tolist()]]
    endList.append(test_02.iloc[i,(index_value[0])])
                                
test_02['add'] = endList

print(test_02)

In [ ]:
endList = []

for col in dayList.columns:
    for j in range(len(dayList.iloc[col])):
        if dayList.iloc[col] == test_02.iloc[j][9]:
            endList.append(dayList.iloc[col])

In [ ]:
endList = []

for row in dayList.index:
    for col in dayList.columns:
        if dayList.iloc[row][col] == test_02["end"][row]:
            endList.append(ageList[row][col])

endList

In [ ]:
test_02["end"][1]

In [ ]:
test_02["end"]

In [ ]:
dayList.iloc[0][3]

In [ ]:
dayList

In [ ]:
endList=[]

for i in range(len(day_df)):
    for j in range(len(day_df[i])):
        if day_df[i][j].item() == test_02["end"][j].item():
            endList.append(age_df[j][i])

endList

In [ ]:
endAgeList = []

for data in test_02:
    for i in range(len(dayList)):
        if test_02[dayList[i]] == test_02["end"]:
            endAgeList.append(data[ageList[index]])