In [1]:
5 % 2

1

In [2]:
20003 % 17

11

In [3]:
2 ** 10

1024

In [4]:
int(5/2)

2

In [5]:
5/2

2.5

In [6]:
float(5/2)

2.5

In [7]:
complex(5/2)

(2.5+0j)

In [8]:
type(10)

int

In [9]:
type(-20)

int

In [10]:
type(-3.7)

float

In [12]:
divmod(7,3)

(2, 1)

In [13]:
float(5)

5.0

In [14]:
type(2.7)

float

In [15]:
int((0.2467 * 12) + 4.159)

7

In [20]:
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

print(a+b)

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
1020

In [23]:
a = int(input('첫 번째 숫자를 입력하세요: '))    # int를 사용하여 입력 값을 정수로 변환
b = int(input('두 번째 숫자를 입력하세요: '))    # int를 사용하여 입력 값을 정수로 변환
 
print(a + b)

첫 번째 숫자를 입력하세요: 25
두 번째 숫자를 입력하세요: 12
37

In [24]:
a, b = input('문자열 두 개를 입력하세요: ').split()    # 입력받은 값을 공백을 기준으로 분리
 
print(a)
print(b)

문자열 두 개를 입력하세요: Hello Python
Hello
Python

In [25]:
a , b  = input('문자열 두 개를 입력하세요: ').split()

문자열 두 개를 입력하세요: Hello Python

In [27]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리
 
print(a + b)

숫자 두 개를 입력하세요: 10, 20
30

In [28]:
a, b, c = -10, 20, 30
print(a + b + c)

40

In [29]:
print(1, 2, 3, sep= '*')

1*2*3

In [30]:
print(1,2,3, sep='\n')

1
2
3

In [31]:
print('1\n2\n3')

1
2
3

In [32]:
print('\')

SyntaxError: EOL while scanning string literal (<ipython-input-32-eaac87876c3b>, line 1)

In [33]:
print('\\')

\

In [37]:
print(2000,10,27, sep = '/', end =' ')
print(11,43,59, sep = ':')

2000/10/27 11:43:59

In [38]:
1 is int(1.0)

True

In [39]:
id(1)

10914496

In [40]:
id(int(1.0))

10914496

In [41]:
id(1.0)

140250506627832

In [44]:
korean = 92
english = 47
mathematics = 86
science = 81

print(korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50)

False

In [45]:
hello = 'Hello, world!'
hello

'Hello, world!'

In [46]:
hello = '안녕하세요'
hello

'안녕하세요'

In [48]:
hello = "Hello, world!"
hello

'Hello, world!'

In [49]:
print("He said \"Python is easy\"")

He said "Python is easy"

In [52]:
s = '''Python is a programming language that lets you work quickly
and
integrate systems more effectively.'''

print(s)

Python is a programming language that lets you work quickly
and
integrate systems more effectively.

In [53]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [54]:
a = 38, 21, 53, 62, 19
a

(38, 21, 53, 62, 19)

In [57]:
type(a)

tuple

In [60]:
person = 'james', 17, 175.3, True
person

('james', 17, 175.3, True)

In [61]:
type(person)

tuple

In [62]:
53,

(53,)

In [64]:
input().split()

10 20

['10', '20']

In [65]:
x = input().split()

10 20

In [66]:
a, b = x

In [67]:
print(a,b)

10 20

In [68]:
a = list(range(5,-10,-2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [69]:
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
a + b

[0, 10, 20, 30, 9, 8, 7, 6]

In [70]:
sorted(a + b)

[0, 6, 7, 8, 9, 10, 20, 30]

In [78]:
sorted(a + b, reverse=False)

[0, 6, 7, 8, 9, 10, 20, 30]

In [80]:
sorted(a + b, reverse=True)

[30, 20, 10, 9, 8, 7, 6, 0]