In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('/home/ncyc-admin/Project/The_Moagen/File/DATA_20191210_prep4.xlsx')

In [3]:
data.head()

,RID,DM,SEX,age,phase,AS1_GLU,AS2_GLU,AS3_GLU,AS4_GLU,AS5_GLU,...,AS5_DM,AS6_DM,AS7_DM,AS1_HOMA,AS2_HOMA,AS3_HOMA,AS4_HOMA,AS5_HOMA,AS6_HOMA,AS7_HOMA
0,EPI18_079_000033,1,1,48,4,104.0,113,121,140,109,...,1,1,1,1.335309,1.340000,1.830000,2.316049,1.399506,1.659259,2.082963
1,EPI18_079_000051,1,2,73,3,83.0,99,104,108,83,...,1,1,1,1.578025,1.980000,1.753086,4.080000,1.598519,1.866667,3.899259
2,EPI18_079_000069,1,1,52,2,82.0,138,100,91,96,...,1,1,1,2.247407,3.645926,2.469136,1.954815,1.991111,1.836296,2.097778
3,EPI18_079_000075,1,2,58,6,82.0,89,100,99,104,...,0,1,1,0.749136,3.823704,2.754321,3.568889,3.826173,2.758519,5.557778
4,EPI18_079_000126,1,2,50,4,89.0,103,115,132,123,...,1,1,1,1.186667,3.128148,0.792593,3.454815,2.551111,2.022222,2.720000

In [4]:
gluList = data.loc[:,"AS1_GLU":"AS7_GLU"]
altList = data.loc[:,"AS1_ALT":"AS7_ALT"]
tgList = data.loc[:,"AS1_TG":"AS7_TG"]
waistList = data.loc[:,"AS1_WAIST":"AS7_WAIST"]
fib4List = data.loc[:,"AS1_FIB4":"AS7_FIB4"]
hba1cList = data.loc[:,"AS1_HBA1C":"AS7_HBA1C"]
homaList = data.loc[:,"AS1_HOMA":"AS7_HOMA"]

In [12]:
gluList

      AS1_GLU  AS2_GLU  AS3_GLU  AS4_GLU  AS5_GLU  AS6_GLU  AS7_GLU
0       104.0      113      121      140      109      105      114
1        83.0       99      104      108       83       90      112
2        82.0      138      100       91       96      111      118
3        82.0       89      100       99      104       98      123
4        89.0      103      115      132      123      126      136
...       ...      ...      ...      ...      ...      ...      ...
3042     78.0       81      110       87       91       93       82
3043     86.0       91       87       95       92       88       93
3044     94.0       97       82       90       98       92       92
3045     89.0       88       80       87       89       97       90
3046     80.0       92       87       87       92       88       88

[3047 rows x 7 columns]

In [5]:
df=pd.DataFrame()

In [17]:
data["phase"][0]

4

In [22]:
data["phase"][0]==gluList.columns

array([False, False, False, False, False, False, False])

In [23]:
gluList.columns

Index(['AS1_GLU', 'AS2_GLU', 'AS3_GLU', 'AS4_GLU', 'AS5_GLU', 'AS6_GLU',
       'AS7_GLU'],
      dtype='object')

In [48]:
gluList.columns = [1,2,3,4,5,6,7]
altList.columns = [1,2,3,4,5,6,7]
tgList.columns = [1,2,3,4,5,6,7]
waistList.columns = [1,2,3,4,5,6,7]
fib4List.columns = [1,2,3,4,5,6,7]
hba1cList.columns = [1,2,3,4,5,6,7]
homaList.columns = [1,2,3,4,5,6,7]

In [25]:
gluList.columns

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [26]:
data["phase"][0]==gluList.columns

array([False, False, False,  True, False, False, False])

In [36]:
gluList[4][0]

140

In [38]:
gluList.columns[4]

5

In [52]:
endData = []
for i in range(len(gluList)):
    for j in range(len(gluList.columns)):
        if data["phase"][i]==gluList.columns[j]:
            endData.append(gluList[j+1][i]-gluList[j][i])
df['glu'] = endData
print(df)

       glu   alt
0     19.0 -31.0
1      5.0   4.0
2     56.0   3.0
3     -6.0 -17.0
4     17.0  -2.0
...    ...   ...
3042 -11.0 -11.0
3043   5.0   3.0
3044   0.0  22.0
3045  -7.0   1.0
3046   0.0  43.0

[3047 rows x 2 columns]

In [53]:
endData = []
for i in range(len(altList)):
    for j in range(len(altList.columns)):
        if data["phase"][i]==altList.columns[j]:
            endData.append(altList[j+1][i]-altList[j][i])
df['alt'] = endData
print(df)

       glu   alt
0     19.0 -31.0
1      5.0   4.0
2     56.0   3.0
3     -6.0 -17.0
4     17.0  -2.0
...    ...   ...
3042 -11.0 -11.0
3043   5.0   3.0
3044   0.0  22.0
3045  -7.0   1.0
3046   0.0  43.0

[3047 rows x 2 columns]

In [54]:
endData = []
for i in range(len(tgList)):
    for j in range(len(tgList.columns)):
        if data["phase"][i]==tgList.columns[j]:
            endData.append(tgList[j+1][i]-tgList[j][i])
df['tg'] = endData
print(df)

       glu   alt     tg
0     19.0 -31.0   45.0
1      5.0   4.0  -53.0
2     56.0   3.0   41.0
3     -6.0 -17.0  174.0
4     17.0  -2.0  -43.0
...    ...   ...    ...
3042 -11.0 -11.0  -81.0
3043   5.0   3.0   -8.0
3044   0.0  22.0    7.0
3045  -7.0   1.0  -21.0
3046   0.0  43.0   -7.0

[3047 rows x 3 columns]

In [55]:
endData = []
for i in range(len(waistList)):
    for j in range(len(waistList.columns)):
        if data["phase"][i]==waistList.columns[j]:
            endData.append(waistList[j+1][i]-waistList[j][i])
df['waist'] = endData
print(df)

       glu   alt     tg     waist
0     19.0 -31.0   45.0 -2.200000
1      5.0   4.0  -53.0 -2.300000
2     56.0   3.0   41.0  4.800000
3     -6.0 -17.0  174.0 -5.366667
4     17.0  -2.0  -43.0  1.733333
...    ...   ...    ...       ...
3042 -11.0 -11.0  -81.0  5.500000
3043   5.0   3.0   -8.0  6.700000
3044   0.0  22.0    7.0 -1.200000
3045  -7.0   1.0  -21.0  5.200000
3046   0.0  43.0   -7.0  6.533333

[3047 rows x 4 columns]

In [56]:
endData = []
for i in range(len(fib4List)):
    for j in range(len(fib4List.columns)):
        if data["phase"][i]==fib4List.columns[j]:
            endData.append(fib4List[j+1][i]-fib4List[j][i])
df['fib4'] = endData
print(df)

       glu   alt     tg     waist      fib4
0     19.0 -31.0   45.0 -2.200000 -0.123438
1      5.0   4.0  -53.0 -2.300000 -0.036142
2     56.0   3.0   41.0  4.800000  0.055786
3     -6.0 -17.0  174.0 -5.366667 -0.106220
4     17.0  -2.0  -43.0  1.733333 -0.058004
...    ...   ...    ...       ...       ...
3042 -11.0 -11.0  -81.0  5.500000  0.023549
3043   5.0   3.0   -8.0  6.700000 -0.314755
3044   0.0  22.0    7.0 -1.200000 -0.930998
3045  -7.0   1.0  -21.0  5.200000  0.085283
3046   0.0  43.0   -7.0  6.533333  0.638841

[3047 rows x 5 columns]

In [57]:
endData = []
for i in range(len(hba1cList)):
    for j in range(len(hba1cList.columns)):
        if data["phase"][i]==hba1cList.columns[j]:
            endData.append(hba1cList[j+1][i]-hba1cList[j][i])
df['hba1c'] = endData
print(df)

       glu   alt     tg     waist      fib4  hba1c
0     19.0 -31.0   45.0 -2.200000 -0.123438    0.1
1      5.0   4.0  -53.0 -2.300000 -0.036142    0.9
2     56.0   3.0   41.0  4.800000  0.055786    0.1
3     -6.0 -17.0  174.0 -5.366667 -0.106220    0.7
4     17.0  -2.0  -43.0  1.733333 -0.058004    1.6
...    ...   ...    ...       ...       ...    ...
3042 -11.0 -11.0  -81.0  5.500000  0.023549   -0.5
3043   5.0   3.0   -8.0  6.700000 -0.314755    0.3
3044   0.0  22.0    7.0 -1.200000 -0.930998    0.1
3045  -7.0   1.0  -21.0  5.200000  0.085283   -0.3
3046   0.0  43.0   -7.0  6.533333  0.638841    0.7

[3047 rows x 6 columns]

In [58]:
endData = []
for i in range(len(homaList)):
    for j in range(len(homaList.columns)):
        if data["phase"][i]==homaList.columns[j]:
            endData.append(homaList[j+1][i]-homaList[j][i])
df['homa'] = endData
print(df)

       glu   alt     tg     waist      fib4  hba1c      homa
0     19.0 -31.0   45.0 -2.200000 -0.123438    0.1  0.486049
1      5.0   4.0  -53.0 -2.300000 -0.036142    0.9 -0.226914
2     56.0   3.0   41.0  4.800000  0.055786    0.1  1.398519
3     -6.0 -17.0  174.0 -5.366667 -0.106220    0.7 -1.067654
4     17.0  -2.0  -43.0  1.733333 -0.058004    1.6  2.662222
...    ...   ...    ...       ...       ...    ...       ...
3042 -11.0 -11.0  -81.0  5.500000  0.023549   -0.5 -1.177778
3043   5.0   3.0   -8.0  6.700000 -0.314755    0.3  0.161975
3044   0.0  22.0    7.0 -1.200000 -0.930998    0.1  0.840494
3045  -7.0   1.0  -21.0  5.200000  0.085283   -0.3 -0.204938
3046   0.0  43.0   -7.0  6.533333  0.638841    0.7  0.347654

[3047 rows x 7 columns]

In [59]:
df

       glu   alt     tg     waist      fib4  hba1c      homa
0     19.0 -31.0   45.0 -2.200000 -0.123438    0.1  0.486049
1      5.0   4.0  -53.0 -2.300000 -0.036142    0.9 -0.226914
2     56.0   3.0   41.0  4.800000  0.055786    0.1  1.398519
3     -6.0 -17.0  174.0 -5.366667 -0.106220    0.7 -1.067654
4     17.0  -2.0  -43.0  1.733333 -0.058004    1.6  2.662222
...    ...   ...    ...       ...       ...    ...       ...
3042 -11.0 -11.0  -81.0  5.500000  0.023549   -0.5 -1.177778
3043   5.0   3.0   -8.0  6.700000 -0.314755    0.3  0.161975
3044   0.0  22.0    7.0 -1.200000 -0.930998    0.1  0.840494
3045  -7.0   1.0  -21.0  5.200000  0.085283   -0.3 -0.204938
3046   0.0  43.0   -7.0  6.533333  0.638841    0.7  0.347654

[3047 rows x 7 columns]

In [62]:
df.to_excel('/home/ncyc-admin/Project/The_Moagen/File/diff_data.xlsx')