In [1]:
import pandas as pd 
import numpy as np
import lda
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from konlpy.tag import Okt
from konlpy.tag import Mecab

In [2]:
data=pd.read_excel('/home/ekim_reverse/PyCode/study/Python.study/online_news.xlsx')

In [4]:
data.head()

,content,created_date,publisher,section,uid,분기,실질GDP
0,"▲미래에셋증권=노희진 사외이사 중도 퇴임 ▲대한전선=보통주 4,717만주 8일 보...",2015-01-07T21:19:00.000000,서울경제,economy,322784719026655424,2015Q1,2.5
1,오늘 개막한 세계 최대 가전전시회 CES에서는 무려 470여 개의 자동차 업체들이 ...,2015-01-07T20:41:00.000000,MBN,economy,322784719026655296,2015Q1,2.5
2,‘CES 2015’에서 기술력 맞붙어\n\n“SUHD는 새로운 종의 TV 될 것”\...,2015-01-07T19:55:00.000000,한겨레,tech,322785790314811520,2015Q1,2.5
3,다음은 7일 장 마감 후 주요 종목 뉴스다.\n\n△동부제철(016380)=동부캐피...,2015-01-07T19:04:00.000000,이데일리,economy,322784719018266816,2015Q1,2.5
4,아이에이는 안전한 자체 진단 기능을 갖는 반도체 소자 및 이를 이용한 자체 진단 방...,2015-01-07T19:02:00.000000,머니투데이,economy,322784719018266816,2015Q1,2.5

In [3]:
pos_tagger = Okt()

In [4]:
t = Okt()

In [5]:
x=t.pos(data['content'][1])

In [6]:
def find_text_n_b_a(x):
    temp=t.pos(x)
    
    data=[]
    
    for line in temp:
        if len(line[0])>1: #한글자 단어는 빼주는게 좋다. 
            if line[1] in ['Noun','Verb','Adjective']: # 명사, 동사, 형용사 라면 
                data.append(line)
            
    return data

In [7]:
find_text_n_b_a(data['content'][1])

[('오늘', 'Noun'),
 ('개막', 'Noun'),
 ('세계', 'Noun'),
 ('최대', 'Noun'),
 ('가전', 'Noun'),
 ('전시회', 'Noun'),
 ('무려', 'Noun'),
 ('자동차', 'Noun'),
 ('업체', 'Noun'),
 ('참여', 'Noun'),
 ('관심', 'Noun'),
 ('끌었습니다', 'Verb'),
 ('최첨단', 'Noun'),
 ('기술', 'Noun'),
 ('접목', 'Noun'),
 ('자동차', 'Noun'),
 ('선보였는데', 'Verb'),
 ('미국', 'Noun'),
 ('라스베거스', 'Noun'),
 ('현지', 'Noun'),
 ('통일', 'Noun'),
 ('기자', 'Noun'),
 ('보도', 'Noun'),
 ('합니다', 'Verb'),
 ('태워줘', 'Verb'),
 ('손목', 'Noun'),
 ('스마트워치', 'Noun'),
 ('건네자', 'Verb'),
 ('차가', 'Adjective'),
 ('스스로', 'Noun'),
 ('움직입니다', 'Verb'),
 ('스마트워치', 'Noun'),
 ('음성', 'Noun'),
 ('명령', 'Noun'),
 ('전달', 'Noun'),
 ('하면', 'Verb'),
 ('내장', 'Noun'),
 ('반응', 'Noun'),
 ('하며', 'Verb'),
 ('정해진', 'Noun'),
 ('위치', 'Noun'),
 ('움직이는', 'Verb'),
 ('원리', 'Noun'),
 ('입니다', 'Adjective'),
 ('시계', 'Noun'),
 ('대고', 'Noun'),
 ('구해', 'Noun'),
 ('달라', 'Noun'),
 ('외치', 'Noun'),
 ('위험', 'Noun'),
 ('빠진', 'Verb'),
 ('주인공', 'Noun'),
 ('태우러', 'Verb'),
 ('드라마', 'Noun'),
 ('자동차', 'Noun'),
 ('연상', 'Noun'),
 ('시킵니다', 'Verb'),
 ('자동차', 'Noun'),
 ('운전자', 'Noun'),
 ('샌프란시스코', 'Noun'),
 ('라스베이거스', 'Noun'),
 ('주행', 'Noun'),
 ('하는', 'Verb'),
 ('성공해', 'Adjective'),
 ('현실', 'Noun'),
 ('만들었습니다', 'Verb'),
 ('핸들', 'Noun'),
 ('잡지', 'Noun'),
 ('않아도', 'Verb'),
 ('알아서', 'Verb'),
 ('움직이거나', 'Verb'),
 ('주변', 'Noun'),
 ('환경', 'Noun'),
 ('인식', 'Noun'),
 ('주차', 'Noun'),
 ('해결', 'Noun'),
 ('하는', 'Verb'),
 ('기능', 'Noun'),
 ('새로울', 'Adjective'),
 ('없습니다', 'Adjective'),
 ('통해', 'Noun'),
 ('차세대', 'Noun'),
 ('주차', 'Noun'),
 ('시스템', 'Noun'),
 ('소개', 'Noun'),
 ('시스템', 'Noun'),
 ('일상생활', 'Noun'),
 ('어떻게', 'Adjective'),
 ('적용', 'Noun'),
 ('있는지를', 'Adjective'),
 ('보여주고', 'Verb'),
 ('있습니다', 'Adjective'),
 ('운전', 'Noun'),
 ('좌석', 'Noun'),
 ('구분', 'Noun'),
 ('없는', 'Adjective'),
 ('차는', 'Verb'),
 ('미래', 'Noun'),
 ('콘셉트카', 'Noun'),
 ('입니다', 'Adjective'),
 ('자동차', 'Noun'),
 ('교통', 'Noun'),
 ('수단', 'Noun'),
 ('넘어', 'Verb'),
 ('대화', 'Noun'),
 ('나누고', 'Verb'),
 ('휴식', 'Noun'),
 ('취하', 'Noun'),
 ('생활', 'Noun'),
 ('공간', 'Noun'),
 ('의미', 'Noun'),
 ('담았습니다', 'Verb'),
 ('인텔', 'Noun'),
 ('퀄컴', 'Noun'),
 ('반도체', 'Noun'),
 ('업체', 'Noun'),
 ('경쟁', 'Noun'),
 ('자동차', 'Noun'),
 ('기술', 'Noun'),
 ('뛰어들면서', 'Verb'),
 ('무인', 'Noun'),
 ('비롯', 'Noun'),
 ('자동차', 'Noun'),
 ('상용', 'Noun'),
 ('다가갔습니다', 'Verb'),
 ('뉴스', 'Noun'),
 ('통일', 'Noun'),
 ('입니다', 'Adjective'),
 ('영상', 'Noun'),
 ('취재', 'Noun'),
 ('기자', 'Noun'),
 ('영상편집', 'Noun'),
 ('정혁', 'Noun')]

In [ ]:
data_pos=[]

for i in range(100):
    
    tem=find_text_n_b_a(data['content'][i])
    for list in tem: data_pos.append(list)

In [ ]:
data_pos

In [ ]:
len(data_pos)

In [ ]:
len(set(data_pos))

In [ ]:
# 수집된 단어의 횟수(len(ko.tokens))와 고유한 횟수(len(set(ko.tokens))) 확인 
ko = nltk.Text(data_pos, name='data_pos')

In [ ]:
print(len(ko.tokens))        
print(len(set(ko.tokens)))  
ko.vocab()                        # 빈도수 분포도

In [ ]:
len(data)

In [ ]:
stop_words = pd.read_excel('/home/ekim_reverse/PyCode/study/Python.study/stop_word.xlsx')

In [ ]:
stop_words.head()

In [ ]:
data_count = pd.read_excel('/home/ekim_reverse/PyCode/study/Python.study/data_count.xlsx')

In [ ]:
data_count.head()

In [ ]:
result = []
for w in data_count:
    if w not in stop_words:
        result.append(w)

print(result)

In [ ]:
len(result)

In [ ]:
np.array(stop_words.tolist())

In [ ]:
X = data
vocab = data_count
titles = data['content']

model = lda.LDA(n_topics = 20, n_iter = 1500)

In [ ]:
model.fit(X)

In [ ]:
topic_word = model.topic_word_
n_top_words = 8

In [ ]:
for i, topic_dist in enumerate(topic_word):
    topic_words = np.array(vocab)[np.argsort(topic_dist)][:-(n_top_words+1):-1]
    print('Topic {}: {}'.format(i,' '.joint(topic_words)))