In [2]:
import pandas as pd
PT = pd.read_csv('/home/ekim_reverse/PyCode/study/Python.study/PT.csv', sep = ",", encoding = "CP949")

In [3]:
print(PT)

      베타_시즌1    0:19    61:10    81:06
0     베타_시즌2    0:59    42:55     6:15
1     생존_시즌3    0:37    87:22     6:58
2     생존_시즌4    null    75:15    12:23
3   2018_시즌2    2:26    17:54     3:02
4   2018_시즌3    5:18     9:32     1:16
5   2018_시즌4    6:00     8:32     2:45
6   2018_시즌5    3:09    18:17     6:08
7   2018_시즌6    0:37     5:13     4:47
8   2018_시즌7    0:34     1:28     null
9   2018_시즌8    0:31    11:47    18:40
10  2018_시즌9    0:17     7:33     5:07
11    생존_시즌5    0:21    18:41    13:39
12    생존_시즌6    null     0:33     1:44
13    생존_시즌7    null     2:31     5:11

In [4]:
PT_df = pd.DataFrame(PT)

In [5]:
PT_df

      베타_시즌1    0:19    61:10    81:06
0     베타_시즌2    0:59    42:55     6:15
1     생존_시즌3    0:37    87:22     6:58
2     생존_시즌4    null    75:15    12:23
3   2018_시즌2    2:26    17:54     3:02
4   2018_시즌3    5:18     9:32     1:16
5   2018_시즌4    6:00     8:32     2:45
6   2018_시즌5    3:09    18:17     6:08
7   2018_시즌6    0:37     5:13     4:47
8   2018_시즌7    0:34     1:28     null
9   2018_시즌8    0:31    11:47    18:40
10  2018_시즌9    0:17     7:33     5:07
11    생존_시즌5    0:21    18:41    13:39
12    생존_시즌6    null     0:33     1:44
13    생존_시즌7    null     2:31     5:11

In [6]:
PT_df_01 = pd.read_csv(
    '/home/ekim_reverse/PyCode/study/Python.study/PT.csv', 
    sep = ",",
    encoding = "CP949",
    names =["season", "solo", "duo", "squad"])

In [7]:
PT_df_01

       season    solo      duo   squad
0     베타_시즌1    0:19    61:10    81:06
1     베타_시즌2    0:59    42:55     6:15
2     생존_시즌3    0:37    87:22     6:58
3     생존_시즌4    null    75:15    12:23
4   2018_시즌2    2:26    17:54     3:02
5   2018_시즌3    5:18     9:32     1:16
6   2018_시즌4    6:00     8:32     2:45
7   2018_시즌5    3:09    18:17     6:08
8   2018_시즌6    0:37     5:13     4:47
9   2018_시즌7    0:34     1:28     null
10  2018_시즌8    0:31    11:47    18:40
11  2018_시즌9    0:17     7:33     5:07
12    생존_시즌5    0:21    18:41    13:39
13    생존_시즌6    null     0:33     1:44
14    생존_시즌7    null     2:31     5:11

In [8]:
PT_df_01.dtypes

season    object
solo      object
duo       object
squad     object
dtype: object

In [24]:
PT_df_01.loc[:,['solo']]

      solo
0    0:19
1    0:59
2    0:37
3    null
4    2:26
5    5:18
6    6:00
7    3:09
8    0:37
9    0:34
10   0:31
11   0:17
12   0:21
13   null
14   null

In [28]:
# def add_time(t1,t2):
#     t1_h, t1_m = t1.split(":")[0], t1.split(":")[1]
#     t2_h, t2_m = t2.split(":")[0], t2.split(":")[1]
#     
#     tmp_h = 0
#     tmp_m = int(t1_m) + int(t2_m)
#     
#     if tmp_m >= 60:
#         tmp_h += 1
#         tmp_m -= 60
#         
#     tmp_h = str(tmp_h + int(t1_h) + int(t2_h))
#     tmp_m = str(tmp_m) if tmp_m >= 10 else "0"+str(tmp_m)
#     
#     return tmp_h+":"+tmp_m

In [37]:
def add_time(t):
    t_h, t_m = t.split(":")[0], t.split(":")[1]
    
    return t_h+":"+t_m

In [38]:
add_time("0:37")

'0:37'